<%= simple_form_for(@call) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <input autofocus="autofocus" autocomplete="off" class="string optional" id="call_department" name="call[department]" type="text" data-provide="typeahead" data-source="<%= @autocomplete.to_json  %>"/>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
