<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <% if current_user %>
  <li><%= link_to 'Log Out', log_out_path %></li>
  <% else %>
  <li><%= link_to 'Log In', log_in_path %></li>  
  <% end %>
</ul>
